* {
   
    box-sizing: border-box;
  
}

body {
  margin: 0;
font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #0B2434;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

div#root{
  height: 100%;
  width: 100%;
  max-height: 400px;
max-width: 400px;
}

main{
background-color: #F5F5F5;
height: 100%;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
 
}

.gridContainer{
  display: grid;
  gap: 1.12em;
  grid-template:auto auto / repeat(5, 1fr);
}

button{
  cursor: pointer;
}
.die{
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.15);
  border: none;
  background-color: #FFFFFF;
  border-radius: 3.8px;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: Inter, sans-serif;

}

.rollBtn{
 height: 50px;
    width: 100px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
}


